.get-started {
    padding: 4rem 0;
    background-color: #F4F4F4;
}

.cta-info {
    padding: 3rem;
    margin: 1rem 0;
}

.form {
    .btn-primary {
        background-color: $primary !important;
        border: none;
    }
}

