// @import "_variables";
// @import "_mixin";

.bgPrimary {
    @include gradient;

    li {
        padding: 0 0.7rem;
        a {
            color: $white !important;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
